.header {
  padding-top: 5px;
  padding-bottom: 2rem;
  text-align: center;
}

.header>h1 {
  text-align: center;
}

.formWrappers {
  display: flex;
  justify-content: center;
}

.formWrapper{
  margin: 3px;
}

.formButtons {
  display: flex;
  justify-content: center;
}

.formButton {
  padding: 8px;
    margin:3px;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}